@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 8px;
  background: transparent;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d7eaff;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #79c9ff;
}
